.search-box-wrapper {
  margin-top: 20px;
}

.search-box {
  width: 210px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('http://i.imgur.com/NHBAuxQ.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 7px 12px 7px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  outline: none;
}

.search-box:focus {
  width: 290px;
}
