.list-picker {
  width: 100%;
  text-align: right;
}

.list-picker select {
  background: white;
  padding: 5px;
  font-size: 15px;
  margin-right: 5px;
  min-width: 200px;
  text-transform: capitalize;
}
