.list-picker-wrapper {
  margin-top: 30px;
}

.list-picker {
  text-align: right;
}

.list-picker select {
  background: white;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 15px;
  margin-right: 5px;
  min-width: 200px;
  text-transform: capitalize;
}

@media all and (max-width: 636px) {
  .list-picker {
    width: 100%;
    text-align: center;
  }
}
