.stocklist-wrapper {
  border-bottom: solid 1px #f0f0f0;
}

.center-wrap {
  text-align: center;
  margin: 15px 0;
}

.action-bar {
  display: flex;
  padding: 0 5%;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media all and (max-width: 636px) {
  .action-bar {
    justify-content: center;
  }
}
