a, a:visited {
  color: #5c5c5c;
  text-decoration: underline;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
}

.App-desc {
  text-align: center;
  font-size: 15px;
  font-weight: normal;
}
