a, a:visited {
  color: #5c5c5c;
  text-decoration: underline;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
}

.App-desc {
  text-align: center;
  font-size: 15px;
  font-weight: normal;
}


.btn-cta {
  background-color: tomato;
  padding: 15px;
  color: white;
  width: 150px;
  margin: 0 auto;
  cursor: pointer;
}

.btn-normal {
  border: 1px solid silver;
  cursor: pointer;
  display: inline;
  font-size: 16px;
  margin-right: 5px;
  padding: 5px 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-normal:hover {
  background-color: black;
  color: white;
}

.btn-cta:hover {
  opacity: 0.8;
}

.gain {
  color: green;
}

.loss {
  color: red;
}
