.data-table {
  background-color: white;
  font-size: 12px;
  text-align: center;
  width: 100%;
  border-top: solid 1px #f0f0f0;
  padding: 0 5%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.data-table tr {
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.data-table tr.gray {
  background-color: #efefef;
}

.data-table tr.featured {
  background-color: yellow;
}

.data-table tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.data-table tr th {
  border-bottom: solid 1px #f9f9f9;
  padding: 15px 0;
}

.data-table tr img {
  cursor: pointer;
}

.data-table td {
  font-family: sans-serif;
  font-size: 15px;
  max-width: 500px;
  padding: 20px;
}

.data-table td a {
  font-size: 15px;
}

.data-table td.wide-column {
  width: 250px;
}

@media all and (max-width: 636px) {
  .data-table td.hide-for-small,
  .data-table th.hide-for-small {
    display: none;
  }
}
