.newsfeed {
  padding: 5px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: flex-center;
}

.newsfeed ul {
  list-style: none;
  font-size: 23px;
}

.newsfeed ul li {
  position: relative;
  padding: 15px 0;
}

.newsfeed ul li a {
  text-decoration: none;
  position: relative;
  color: black;
}

.newsfeed .sentiment {
  position: absolute;
  left: -35px;
  top: 50%;
}

.newsfeed .newsfeed-item {
  border-left: 3px solid #333;
  padding: 10px;
  font-size: 17px;
  transition: all .1s ease 0s;
}

.newsfeed .newsfeed-item:hover {
  cursor: pointer;
  border-left: 6px solid #3b5998;
}

.newsfeed .newsfeed-item > div {
  margin: 0 !important;
}

.newsfeed .newsfeed-item > div div{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100% !important;
}

.newsfeed .newsfeed-item span {
  font-size: 15px;
  margin-bottom: 10px;
}

.newsfeed .newsfeed-item div > a:first-of-type {
  font-size: 22px !important;
  font-weight: bold;
}

.newsfeed .newsfeed-item div > a:last-of-type {
  text-decoration: underline;
}

@media all and (max-width: 636px) {
  .newsfeed ul {
    padding: 5px;
    font-size: 20px;
  }

  .newsfeed ul li {
    padding: 10px 0;
    border-bottom: solid 3px white;
    margin-bottom: 10px;
  }

  .newsfeed ul li a {
    padding: 0;
    border-left: none;
  }

  .newsfeed ul li a:hover {
    border-left: none;
  }

  .newsfeed .sentiment {
    position: absolute;
    right: 0%;
    top: 5%;
  }
}
